#components-layout-demo-responsive .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
  }

  *{
    margin: 0;
    padding: 0;
  
  }
 
.anticon {
  vertical-align: 0;
}