

.img-product {
  height: 200px;
  /* position: relative; */
  margin: auto;
  width: 100%;
  background-color: #fafafa;
}



.img-product img {
  width: 100%;
  height: 100%;
}

.more-button {
  width: 100%;
  position: relative;
}

.box {
  position: absolute;
  top: 100%;
  left: 90%;
  transform: translate(-60%, -380%);
  z-index: 3;
  margin: 0;
  padding: 0px;
  height: 50px;
}

.more-button .box span a {
  position: relative;
  display: block;
  text-align: center;
  color: black;
  text-decoration: none;
  transition: 0.5s;
  transform: translateX(20px);
  opacity: 0;
  padding: 5px;
  /* height: 40px;
  width: 40px;
  border-radius: 50%;  */
  /* background-color: #fff; */
}

.more-button .box span a i {
  padding: 10px;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.2s;
}

.more-button .box span:hover a i {
  color: #fff;
  background-color: #000000;
}


.more-button .box .span a:hover {
  transform: translateX(0px);
  opacity: 1;
}

.container-card:hover .more-button .box span a {
  transform: translateX(0px);
  opacity: 1;
}

.product-info .star-review,
.product-info .star-review span
{
  display: flex;
  font-size: 14px;
  align-items: center;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #e84f69;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e84f69;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}



.product-thuy a {
  text-decoration: none;
  color: #000000;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}

.product-thuy a:hover {
  color: #e84f69;
}

.price-product {
  color: #4d4d4d;
  font-size: 16px;
}

.filter-contain .block-filsort{
  /* display: inline; */
}

.rangeslider-value *{
  display: inline;
}

.range-slider {
  width: 80% !important ;
  margin-left: 25px !important;
}

.rangeslider-contain{

  width: 300px !important;
}

.btn-rangefilter{
  border:0;
}

.rangeslider-count div{
  display: inline;
  
}

.sort-contain{
  /* float: right; */
}
.sort-contain *{
  display: inline;
}
@media screen and (max-width: 768px) {
  .sort-contain{
    float: none;
    display: block;
  }
  .filter-contain .block-filsort {
    display: block;
}
}
.sale{
  position: absolute;
  top: 10px;
  left:10px;
  background-color:#ff2b2b;
  color: #fff;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 13px;
  width: 60px;
  aspect-ratio: 1;
  clip-path: polygon(100.00% 50.00%,83.81% 59.06%,93.30% 75.00%,74.75% 74.75%,75.00% 93.30%,59.06% 83.81%,50.00% 100.00%,40.94% 83.81%,25.00% 93.30%,25.25% 74.75%,6.70% 75.00%,16.19% 59.06%,0.00% 50.00%,16.19% 40.94%,6.70% 25.00%,25.25% 25.25%,25.00% 6.70%,40.94% 16.19%,50.00% 0.00%,59.06% 16.19%,75.00% 6.70%,74.75% 25.25%,93.30% 25.00%,83.81% 40.94%);
}
