@media (min-width: 992px) {
  .service {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.service {
  padding: 30px 0;
  margin-top: -80px;
}

div {
  display: block;
}

@media (min-width: 1200px) {
  .container {
    max-width: 132rem;
  }
}

/* .container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin: 0 auto;
} */

.section-header {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 20px;
}

.section-text {
  color: #797979;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  text-align: center;

}

@media (min-width: 768px) {
  .section-text {
    margin-bottom: 5rem;
  }
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}

.row {
  --bs-gutter-x: 0;
  margin-left: -15px;
  margin-right: -15px;
}

@media (min-width: 992px) {
  .list-icon:first-child {
    border: none;
  }
}

@media (min-width: 992px) {
  .list-icon {
    margin: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.list-icon {
  padding: 0rem 2rem;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
}

.service-content.icon-left {
  flex-wrap: nowrap;
  align-items: center;
}

.service-content {
  display: flex;
  justify-content: center;
}

.service-icon {
  width: 100%;
  max-width: 50px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
}

.service-icon-svg {
  width: 100%;
}

.service-icon svg {
  color: #01213a;
}

img,
svg {
  vertical-align: middle;
}

.service-decoration {
  padding-left: 10px;
}

.service-content .service-title {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  line-height: 1.8;
  text-transform: capitalize;
  color: #01213a;
}

h3,
.h3 {
  font-size: 2.4rem;
}

.service-content .service-text {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.5;
  text-transform: capitalize;
  color: #797979;
  margin: 0;
}

@media (min-width: 992px) {
  .list-icon {
    margin: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 767px) {
  .list-icon {
    padding: 0rem 1.5rem;
  }
  .service-content {
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
  }
}
@media (max-width: 500px) {
  .service-content {
    display: flex;
    justify-content: flex-start;
    margin-left: 60px;
  }
}

@media (min-width: 300px) and (max-width: 1000px) {
  .service-text-1 {
    padding-right: 15px;
  }
  .service {
    margin-top: -40px;
  }
}
